@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-color: #8a2b06;
  --accent-3: #FFE8DE;
  --accent-4: #FFD9C9;
  --accent-11: #D13600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-color: #8a2b06;
    --accent-3: #FFE8DE;
    --accent-4: #FFD9C9;
    --accent-11: #D13600;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-anek-kannada);
}
